@import "UISystem.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font: {
    family: "Roboto Regular";
    size: $m;
  }
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: $xh;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  color: white;

  div {
    height: 100vh;
    @include hideScrollbar;
    display: flex;
    &:first-of-type {
      flex: 0 0 30%;
    }
    &:last-of-type {
      
      filter: drop-shadow(20px 20px 250px rgba($pink900, 0.4));
      flex: 0 0 50%;
      flex-flow: column nowrap;
      row-gap: $h;
      overflow-y: scroll;
      padding-top: 350px;
    }
  }
}

// iframe {
//   filter: drop-shadow(20px 20px 250px rgba($pink900, 0.2));
// }
.background {
  flex: 0 0 30%;
  background: {
    image: url("../src/assets/img/slayyyter_logo.png");
    repeat: no-repeat;
    size: contain;
  }

  img {
    height: 110%;
    animation: slideRight 15s linear forwards;
  }
}

.vinyls {
  flex: 0 0 60%;
  background-color: rgba(white, 0.1);
  border-radius: $xxs;
  display: flex;
  flex-flow: row wrap;
  padding: $h;
  column-gap: $h;
  article {
    display: flex;
    &:first-of-type {
      flex: 0 0 100%;
    }

    row-gap: $m;
    &:nth-of-type(2) {
      flex-flow: row nowrap;
      column-gap: $m;
      overflow-x: scroll;

      @include hideScrollbar;
      div {
        height: 250px;
        p {
          text: {
            transform: capitalize;
          }
        }
        img {
          cursor: pointer;
          width: 250px;
          height: 250px;

          &:hover {
            transition: all 0.3s;
            transform: scale(1.1);
          }
        }
      }
    }

    &:last-of-type {
      flex: 0 0 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;

      h3 {
        font: {
          family: "Roboto Black";
        }
        text: {
          transform: capitalize;
        }
      }
      span {
        padding: $xxs;
        align-self: flex-start;
        border: 2px dashed white;
      }
      ol {
        list-style-position: inside;
      }
      a {
        align-self: flex-end;
        transition: all 0.3s;
        color: white;
        text: {
          decoration: none;
          transform: uppercase;
        }
        border: 2px solid white;
        padding: $xxs $xxl;
        &:hover {
          background-color: white;
          color: $black;
        }
      }
    }
  }
}

.social-media {
  position: absolute;
  bottom: $xh;
  color: rgba(white, 0.5);
  font: {
    size: $xl;
  }

  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  column-gap: $s;
  li {
    &:hover {
      transform: scale(1.2);
      color: white;
    }
    a {
      color: inherit;
      text: {
        decoration: none;
      }
    }
  }
}

.spotify {
}
.about {
  display: flex;
  border-radius: $xxs;
  background: {
    image: url("./assets/img/slayyyter.png");
    size: cover;
    repeat: no-repeat;

    color: rgba($pink500, 0.1);
  }

  article {
    flex: 0 0 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $m;

    padding: $h;
    background-color: rgba($black, 0.5);
    h2 {
      max-width: 15ch;
    }
    span {
      color: $pink900;
      font: {
        family: "Roboto Bold Italic";
      }
      &:last-of-type {
        text: {
          transform: uppercase;
        }
      }
    }
    p {
      color: white;
      max-width: 35ch;
      padding: $xl;
      line-height: $xl;
      border-left: 2px solid rgba($pink900, 0.6);
    }
    a {
      align-self: flex-end;
      transition: all 0.3s;
      color: white;
      text: {
        decoration: none;
        transform: uppercase;
      }
      border: 2px solid white;
      padding: $xxs $xxl;
      &:hover {
        background-color: white;
        color: $black;
      }
    }
  }
}

.tours {
}
h2 {
  text: {
    transform: uppercase;
  }
  font: {
    size: $xxl;
    family: "Roboto Black";
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(20%);
  }
}

@import "Mobile.scss";
