@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  main {
    flex-flow: column nowrap;
    height: auto;

    padding: $s;
  }

  .background {
    img {
      height: 50vh;
      margin: {
        bottom: -$xh;
      }
    }
  }

  .about{
    background:{
        size: contain;
        position: 0 100%;
    }
  }
}
