@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  main {
    flex-flow: column nowrap;
    height: auto;

    padding: $s;
    div{
        &:last-of-type{
            padding-top:0;
        }
    }
  }

  .background {
    img {
      height: 50vh;
      margin: {
        bottom: -$xh;
      }
    }
  }

  .about{
    article{
        padding:{
            right: $xxs;
            bottom:$xxl;
        }
        p{
            margin:{
                
                bottom:$xh;
            }
        }
        
    }
    background:{
        size: contain;
        position: 0 100%;
    }
  }
  .social-media {
    top:$m;
    right:$m;
    
        flex-flow: column nowrap;
        justify-content: flex-start;
    
  }
}
