@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  #root {
    background: {
      size: 250px;
    }
  }
  main {
    flex-flow: column nowrap;
    padding: $s;
    div {
      
      &:first-of-type {
        flex: 0 0 30vh;

        section {
          &:last-of-type {
            
            p {
              position: absolute;
              top: 30%;
              right: $s;
              a {
                color: rgba(white, 0.7);
              }
            }
          }
        }
      }
      &:last-of-type {
        flex: 0 0 auto;
        padding-top: 0;
      }
    }
  }

  .background {
    img {
      height: 50vh;
      margin: {
        bottom: -$xh;
      }
    }
  }

  .about {
    article {
      padding: {
        right: $xxs;
        bottom: $xxl;
      }
      p {
        margin: {
          bottom: $xh;
        }
      }
    }
    background: {
      size: contain;
      position: 0 100%;
    }
  }

  header {
    padding: $s;
  }
  .social-media {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .vinyls {
    padding: $h $m;
    article {
      &:nth-of-type(2) {
        flex-flow: row nowrap;
        overflow-x: scroll;
        @include hideScrollbar;
      }
    }
  }

  .tours {
    
    table {
      
      row-gap: $xl;

      th {
        display: none;
      }
      tbody{
        display: flex;
        flex-flow: row wrap;
        row-gap:$xl;

      }
      tr {
        flex-flow: row wrap;
        justify-content: flex-start;
        column-gap: $xxl;


      }
    }
  }
}
