// Colours
$pink900: #fe003c;
$pink800: #fd0d95;
$pink700: #fb4aa5;
$pink600: #f674d4;
$pink500: #fab2f9;
$black: #0e0e0e;


  // Sizes
  $xxs: 10px;
  $xs: 12px;
  $s: 14px;
  $m: 16px;
  $l: 18px;
  $xl: 21px;
  $xxl: 24px;
  $xxl: 36px;
  $h: 48px;
  $xh: 72px;
  
// Fonts
@font-face {
  font-family: "Homemade Apple Regular";
  src: url("./assets/fonts/HomemadeApple-Regular.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Black";
  src: url("./assets/fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto Bold Italic";
  src: url("./assets/fonts/Roboto-BoldItalic.ttf");
}
@mixin hideScrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}